if SHIELD_LIMA30_LEFT

config ZMK_KEYBOARD_NAME
    default "lima30"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LIMA30_LEFT || SHIELD_LIMA30_RIGHT

config ZMK_SPLIT
    default y

endif